/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme Variables */
:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --header-bg: #000000;
    --header-text: #b12252;
    --primary-color: #b12252;
    --secondary-color: #ff81ab;
    --button-hover-bg: #5e0724;
    --footer-bg: #b12252;
    --table-hover-bg: #cfcece;
    --box-color: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Dark Theme Variables */
body.dark-theme {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg: #333333;
    --header-text: #ff81ab;
    --primary-color: #ff81ab;
    --secondary-color: #b12252;
    --button-hover-bg: #ff3366;
    --footer-bg: #222;
    --table-hover-bg: #292828;
    --box-color: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Body and Main Layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header with title and navigation */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 13px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

/* Title */
#header h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    white-space: nowrap;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

/* Logo */
#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Logo link */
#logo-link {
    display: flex;
    align-items: center;
}

/* Title link */
#title-link {
    text-decoration: none;
    color: var(--header-text);
}

#title-link:visited {
    color: var(--header-text);
}

#title-link:hover {
    text-decoration: none;
}

/* Navigation Buttons */
#navButtons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    width: auto;
    margin-right: 10px;
}

#navButtons a { 
    color: white; 
    text-decoration: none; 
    font-size: 0.8rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

#navButtons a:hover { 
    background-color: var(--primary-color); 
}

#navButtons a.active { 
    background-color: var(--primary-color); 
}

@media (max-width: 768px) {
    #navButtons {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    #navButtons a {
        margin-bottom: 0px;
    }
}

/* Home Section */
#homeSection {
    padding: 50px 210px;
    background-color: var(--bg-color);
    text-align: left;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    box-shadow: var(--box-color);
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Center the entire section */
    flex-wrap: wrap; /* Ensures proper layout on smaller screens */
}

#homeSection .content {
    max-width: 50%; /* Limit the width for alignment */
    text-align: left; /* Align text to the left */
    padding-right: 20px; /* Add some spacing between content and slider */
}

#homeSection h2 {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-family: 'Lucida Calligraphy', cursive;
}

#homeSection p {
    font-size: 1.2rem;
    margin-bottom: 0px;
    line-height: 1.5;
    color: var(--text-color);
    font-family: 'Dancing Script', cursive;
}

/* Slider Section */
#homeSection .slider {
    width: 50%; /* Take half the width */
    max-width: 400px; /* Limit the slider's width */
    height: 400px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-left: 25px;
}

/* Image Slider Styles */
.slider {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.slider-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    11.11% {
        transform: translateX(-100%);
    }
    22.22% {
        transform: translateX(-200%);
    }
    33.33% {
        transform: translateX(-300%);
    }
    44.44% {
        transform: translateX(-400%);
    }
    55.55% {
        transform: translateX(-500%);
    }
    66.66% {
        transform: translateX(-600%);
    }
    77.77% {
        transform: translateX(-700%);
    }
    88.88% {
        transform: translateX(-800%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider-track {
    animation: slide 27s infinite;
}

/* Product List Section */
#productListSection {
    padding: 40px 20px 40px;
    background-color: var(--bg-color);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    box-shadow: var(--box-color);
    margin-top: 50px;
    position: relative;
}

#productListSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
}

/* Product Grid */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 30px;
}

/* Individual Product Card */
.product-card {
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: var(--box-color);
    overflow: hidden;
    width: 170px;
    text-align: center;
    transition: transform 0.3s;
    border: 2px solid var(--primary-color);
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-bottom: 1px solid var(--primary-color);
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--text-color);
}

.product-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--text-color);
}

.product-card .price {
    font-weight: bold;
    color: var(--primary-color);
}

.product-card .buy-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card .buy-btn:hover {
    background-color: var(--button-hover-bg);
}


/* Filters Section */
#productListSection .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 1px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#productListSection .filters input,
#productListSection .filters select {
    padding: 7px;
    font-size: 1rem;
    border-radius: 10px;
    border: 4px solid #ddd;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: auto;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }

    #productListSection table {
        width: 100%;
    }

    #productListSection .filters {
        flex-direction: column;
        align-items: center;
    }
}

/* About Section */
#aboutSection {
    padding: 40px 20px 40px;
    background-color: var(--bg-color);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    box-shadow: var(--box-color);
    margin-top: 50px;
    position: relative;
    line-height: 35px;
}

#aboutSection h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}

/* Contact Section Styling */
#contactSection {
    padding: 40px 20px 40px;
    background-color: var(--bg-color);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    box-shadow: var(--box-color);
    margin-top: 50px;
    position: relative;
}

#contactSection h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin-bottom: 20px;
}

.profile-details {
    text-align: center;
}

.profile-details p {
    margin-bottom: 10px;
    color: var(--text-color);
}

.social-media-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media-links li {
    margin: 0 10px;
}

.social-media-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    max-width: 700px;
    align-items: center; /* Center child elements horizontally */
    margin: 0 auto; /* Ensure the form is centered horizontally in its container */
    padding: 20px; /* Optional: Padding for inner spacing */
    background-color: var(--box-color); /* Optional: Background for the form */
    border: var(--primary-color); /* Optional: Border for form visibility */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: var(--box-color); /* Optional: Shadow for aesthetics */
}

#contactForm label {
    font-weight: bold;
    color: var(--primary-color);
    text-align: center; /* Center-align text */
}

#contactForm input, #contactForm textarea {
    width: 100%; /* Make inputs stretch to full width of the form */
    max-width: 600px; /* Limit input width for consistency */
    padding: 10px;
    border: 1px solid var(--table-hover-bg);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#contactForm button {
    padding: 10px 20px; /* Add horizontal padding for better button look */
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

#contactForm button:hover {
    background-color: var(--button-hover-bg);
}

/* Theme Toggle Button with Icon */
#themeToggle {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#themeToggle:hover {
    background-color: var(--primary-color);
}

/* Dark Theme Icon Styles */
body.dark-theme #themeToggle::before {
    content: "\f186";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* Light Theme Icon Styles */
#themeToggle::before {
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}